body {
  //   background-color: red;
  .buyer-details {
    width: 80%;
    height: 80vh;
    background-color: green;
    background-color: #dbc8ef;
    padding: 1rem 2rem;
    border-radius: 15px;
    margin: 0 auto;
    @media (max-width: 768px) {
      flex-direction: column;
      width: 100%;
      margin: 0;
      height: auto;
    }
    .buyerForm {
      width: 60%;
      display: flex;
      flex-direction: column;

      padding: 1rem;
      @media (max-width: 768px) {
        width: 100%;
        padding: 5px;
      }
      form {
        margin-top: 1rem;
        display: inline-flex;
        //         gap: 2rem;
        flex-direction: column;
        width: 100%;
        input {
          border: none;

          border-bottom: 2px solid black;
          width: 70%;
          padding: 0.7rem 2rem;
          @media (max-width: 768px) {
            width: 100%;
          }
        }
        button {
          padding: 0.5rem 2rem;
          width: 20%;
        }
      }
    }
    .cart-item {
      //       height: 100%;
      background-color: rgb(16, 5, 224);

      border-radius: 15px;
      padding: 1rem;
      width: 40%;
      @media (max-width: 768px) {
        height: 400px;
        width: 100%;
      }
      image {
        @media (max-width: 768px) {
          object-fit: cover;
        }
      }
    }
  }
}
