@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$primColor: #08004f;
$primaryOrange: #fda901;
$paddingBord: 0.5rem 10rem;
$dosiFont: "Dosis", sans-serif;
body {
  width: 100vw;
  min-height: 100vh;
  // position: relative;
  .header {
    width: 100vw;
    @media (max-width: 768px) {
      background-color: red;
    }
    .top-header {
      padding: $paddingBord;
      width: 100%;
      padding: 0.3rem 10rem;
      font-size: 1.2rem;
      display: flex;
      gap: 1rem;
      background-color: $primColor;
      color: white;
      @media (max-width: 768px) {
        padding: 0.3rem 0.5rem;
      }
      a {
        color: white;
      }
    }
    .nav-header {
      background-color: white;
      height: 60px;
      gap: 3rem;
      justify-content: space-between;
      @media (max-width: 768px) {
        position: relative;
        flex-direction: row-reverse;
        width: 100vw;
        padding: 0 2rem;
      }
      .hameMen {
        display: none;
        @media (max-width: 888px) {
          display: block;
        }
      }
      .nav-log {
        width: 15%;
        display: flex;

        @media (max-width: 768px) {
          width: 36%;
          display: flex;
          object-fit: contain;
          justify-content: end;
        }
        img {
          object-fit: contain;
          width: 200px;
          // height: 170px;
          @media (max-width: 888px) {
            // margin-left: 1rem;
            position: relative;
            width: 130px;
            object-fit: contain;
          }
        }
      }
      .nav-Links {
        width: 60%;
        gap: 2rem;
        justify-content: flex-end;

        // margin-left: 15%;
        @media (max-width: 988px) {
          display: none;
        }
        a {
          color: $primColor;
          font-family: $dosiFont;
          font-size: 19px;
          font-weight: 900;
          line-height: 80px;
          font-stretch: 100%;
          .linkDot {
            color: $primaryOrange;
            font-size: 2rem;
          }
        }
      }
      .nav-actions {
        padding: 0.2rem 1rem;
        border-left: 2px solid $primaryOrange;
        display: flex;
        gap: 1rem;
        width: 25%;
        @media (max-width: 768px) {
          display: none;
        }
        // img {
        //   width: 60px;
        //   height: 39px;
        //   @media (max-width: 788px) {
        //     width: 50px;
        //   }
        // }
        button {
          padding: 0.4rem 2rem;
        }
      }
    }
  }
  .categories {
    background-color: #792c6e;
  }
}
