@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$primColor: #08004f;
$primaryOrange: #fda901;
$paddingBord: 0.5rem 10rem;
$dosiFont: "Dosis", sans-serif;
body {
  width: 100vw;
  min-height: 100vh;
  // position: relative;
  .header {
    width: 100vw;
    @media (max-width: 768px) {
      background-color: rgb(18, 11, 214);
    }
    .top-header {
      padding: $paddingBord;
      width: 100%;
      padding: 0.3rem 10rem;
      font-size: 1.2rem;
      display: flex;
      gap: 1rem;
      background-color: $primColor;
      color: white;
      @media (max-width: 768px) {
        padding: 0.3rem 0.5rem;
      }
      a {
        color: white;
      }
    }
    .nav-header {
      background-color: white;
      height: 60px;
      overflow: hidden;
      gap: 3rem;
      justify-content: space-between;
      @media (max-width: 866px) {
        width: 100vw;
        padding: 0 0.3rem;
      }
      .nav-log {
        @media (max-width: 768px) {
          width: 16%;
        }
        img {
          @media (max-width: 768px) {
            height: 130px;
          }
        }
        .nav-actions {
          padding: 0.2rem 1rem;
          border-left: 2px solid $primaryOrange;
          display: flex;
          gap: 1rem;
          width: 25%;
          @media (max-width: 768px) {
            display: none;
          }
        }
        button {
          padding: 0.4rem 2rem;
        }
      }
      .nav-Links {
        display: flex;
        gap: 2rem;
        @media (max-width: 766px) {
          width: 100%;

          position: absolute;
          flex-direction: column;
          background-color: $primColor;
          // text-align: center;
          // height: auto;
          width: 70%;
          top: 6rem;
          padding: 2rem 4rem;
          border-bottom: 2px solid gray, 0.3;
          // transform: scale(0.5);
          // right: -100rem;
          opacity: 0;
          visibility: hidden;

          transition: all 0.5s ease-in-out;

          cursor: pointer;
          a {
            z-index: 300;
            color: white;
            font-size: 1.2rem;
          }
        }
      }
      .showNav {
        transform: scale(1);
        opacity: 1;
        // rotate: 0deg;
        visibility: visible;
        right: 0;
        z-index: 700;
      }
      .hameMen {
        display: none;
        @media (max-width: 766px) {
          display: block;
          padding-right: 1.2rem;
          font-size: 3rem;
        }
      }
      .nav-actions {
        @media (max-width: 768px) {
          width: 50%;
        }
      }
    }
  }
  .categories {
    background-color: #792c6e;
  }
}
