$paddingBord: 0.5rem 7rem;
.products-container {
  width: 100%;
  padding: $paddingBord;
  @media (max-width: 998px) {
    padding: 1rem 0rem;
  }
  .product-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
    gap: 1rem;
    .product {
      padding-bottom: 0.5rem 0.5rem;
      img {
        width: 100%;
        object-fit: cover;
      }
      button {
        padding: 0.6rem 0.7rem;
        border-radius: 20px;
        border: none;
        background-color: teal;
      }
    }
  }
}
