@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=ABeeZee&display=swap");

$dosiFont: "Dosis", sans-serif;
$abeeFont: "ABeeZee", sans-serif;

.df {
  display: flex;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.spaceBtn {
  display: flex;
  justify-content: space-between;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
a {
  text-decoration: none;
}
.headings {
  font-size: 30px;
  line-height: 36px;
  font-family: $dosiFont;
  color: $primColor;
  font-weight: 600;
  font-variant: normal;
  font-stretch: 100%;
}
.subHeading {
  margin-top: 1.2rem;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  font-family: $abeeFont;
}
.btmLine {
  // background-color: red;
  border-bottom: 2px solid white;
  line-height: 34px;
  padding: 2rem 0rem;
}
.footer-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}
.gp3 {
  gap: 0.6rem;
  margin-top: 0.7rem;
  flex-direction: column;
}
// .btns {
//   width: 87%;
//   height: 50px;

//   position: absolute;
//   font-size: 3rem;
//   display: flex;
//   justify-content: space-between;
//   top: 45%;
//   left: 5rem;
//   z-index: 230;
// }
.gbPadding {
  // padding: 0.3rem 3rem;
}
.w-full {
  width: 100vw;
  text-align: center;
  gap: 2rem;
  padding: 1rem 2rem;
  @media (max-width: 768px) {
    padding: 0;
    padding: 0rem;
    align-items: flex-start;
  }
  .product-cards {
    width: 100vw;
    gap: 4rem;
    flex-wrap: wrap;
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px) {
      gap: 1rem;
      align-items: flex-start;
    }
    .productCard {
      margin-top: 1.2rem;
      width: 15%;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      margin-left: 8px;
      @media (max-width: 768px) {
        margin-left: 0px;
        width: 45%;
      }
      img {
        object-fit: fill;
        width: 100%;
        height: 130px;
      }
    }
  }
}
$primColor: #08004f;
button {
  background-color: $primColor;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0.9rem 1rem;
}
.error {
  color: red;
  font-size: 1.2rem;
}
