* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import "./styles/main";
@import "./styles/variables";
@import "./styles/swiper";
@import "./styles/future";
@import "./styles/towards";
@import "./styles/footer";
